<!--
    Basketball Shot Tracker App
    Developed by Christopher Hong
    Team Name: HoopIQ
    Team Members: Christopher Hong, Alfonso Mejia Vasquez, Gondra Kelly, Matthew Margulies, Carlos Orozco
    Start Web Development Date: October 2025
    Finished Web Development Date: June 2026 (Ideally)
    templates/_stats_table.html 
-->

<!-- SHOT TABLE -->
<h2>Shot Detection Table</h2>

<table border="1" cellpadding="6" style="margin:auto;">
    <tr>
        <th>Shot #</th>
        <th>Backboard</th>
        <th>Rim</th>
        <th>Net Only</th>
        <th>Made</th>
    </tr>

    {% for shot in shots %}
    <tr>
        <td>{{ loop.index }}</td>       
        <td>{{ "Yes" if shot.Backboard else "No" }}</td>
        <td>{{ "Yes" if shot.Rim else "No" }}</td>
        <td>{{ "Yes" if shot.Net else "No" }}</td>
        <td>{{ "Made" if shot.result == "Make" else "Miss" }}</td>
    </tr>
    {% endfor %}
</table>

<!-- SUMMARY -->
<h3 style="text-align:center;">Session Summary</h3>

<ul style="width:300px; margin:auto;">
    <li>Total Shots: {{ total_shots }}</li>
    <li>Made Shots: {{ made_shots }}</li>
    <li>Backboard Hits: {{ backboard_hits }}</li>
    <li>Rim Hits: {{ rim_hits }}</li>
    <li>Nothing But Net: {{ net_only }}</li>
</ul>