<!--
    Basketball Shot Tracker App
    Developed by Christopher Hong
    Team Name: HoopIQ
    Team Members: Christopher Hong, Alfonso Mejia Vasquez, Gondra Kelly, Matthew Margulies, Carlos Orozco
    Start Web Development Date: October 2025
    Finished Web Development Date: June 2026 (Ideally)
    templates/_top_bar.html 
-->

<!-- Top Bar -->
<div style="display:flex; justify-content:space-between; align-items:center; margin-bottom:10px;">
    <h1>HoopIQ – Session Dashboard</h1>

    <form method="GET" action="/">
        <button type="submit">Logout</button>
    </form>
</div>
