<!--
    Basketball Shot Tracker App
    Developed by Christopher Hong
    Team Name: HoopIQ
    Team Members: Christopher Hong, Alfonso Mejia Vasquez, Gondra Kelly, Matthew Margulies, Carlos Orozco
    Start Web Development Date: October 2025
    Finished Web Development Date: June 2026 (Ideally)
    templates/new_page.html 
-->

<!DOCTYPE html>
<html>
<head>
    <title>HoopIQ Session Dashboard</title>
</head>
<body>

<!-- ----------------------------- -->
<!-- TOP BAR -->
<!-- ----------------------------- -->
{% include "_top_bar.html" %}

<hr>

<!-- ----------------------------- -->
<!-- Stats Table -->
<!-- ----------------------------- -->
{% include "_stats_table.html" %}


<hr>

<!-- ----------------------------- -->
<!-- Trajectory Graphs -->
<!-- ----------------------------- -->
{% include "_trajectory_graph.html" %}


<hr>

<!-- PLACEHOLDERS -->
<h3>Export Session</h3>
<button disabled>Export CSV (Coming Soon)</button>

</body>
</html>
